<!--
******************************************
*  Created On : 2025. 12. 19.
*  File : productList.html
*******************************************
 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main/main-layout}">
    <head>
        <th:block layout:fragment="head">
            <!-- 포트원 API.js v1 -->
            <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
            <!-- 우편번호 서비스 -->
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <!--결제 api호출-->
            <script th:src="@{/js/order/portOne.js}"></script>
            <link rel="stylesheet" th:href="@{/css/order/orderForm.css}" />
        </th:block>
    </head>
    <body>
        <!--레이아웃의 content 부분에 아래 내용이 출력됨-->
        <div layout:fragment="content">
            <!--주문 내역-->
            <div class="d-flex flex-column orderForm">
                <div class="orderForm heading">
                    <h2>주문/결제</h2>
                </div>

                <div class="orderFormBox border p-4 mt-1" style="width: 50vw; min-width: 450px">
                    <form th:object="${orderForm}" th:action="@{/order/order}" method="post" id="orderForm">
                        <!-- 유효성 검증에 에러 발생 시 에러 출력 -->
                        <div th:replace="~{comm/formErrors :: formErrorsFragment}"></div>
                        <div class="orderForm-productList mb-3">
                            <div class="d-flex flex-row gap-1">
                                <h6 class="heading">상품 정보</h6>
                                <span class="text-muted small">수정은 주문표에서 가능합니다.</span>
                            </div>
                            <!-- <div class="orderForm-productList"> -->
                            <input type="hidden" name="cart" class="cart" id="cart" />
                            <div class="cart-product border rounded p-3"></div>
                            <!-- </div> -->
                        </div>
                        <div class="orderForm-buyerInfo mb-3">
                            <h6 class="heading">주문자 정보</h6>
                            <div class="orderForm-buyerInfo-box border rounded p-3">
                                <label for="buyerName">이름</label>
                                <input type="text" class="buyerName mb-1" id="buyerName" name="buyerName" th:value="${#authentication.principal.member.memberName}" readonly />
                                <br />
                                <label for="buyerPhone">연락처</label>
                                <input type="text" class="buyerPhone" id="buyerPhone" name="orderPhone" th:value="${#authentication.principal.member.memberPhone}" readonly />
                                <input type="hidden" class="buyerMemberNo" id="buyerMemberNo" name="buyerMemberNo" th:value="${#authentication.principal.member.memberNo}" />
                            </div>
                        </div>
                        <div class="orderForm-orderAdress mb-3">
                            <h6 class="heading">배송 정보</h6>
                            <div class="orderForm-orderAdress-box d-flex flex-row border rounded p-3">
                                <div class="input-section" style="width: 80vw">
                                    <label for="addressAlias">별칭</label>
                                    <input type="text" class="addressAlias mb-1" id="addressAlias" value="회사" size="10" readonly />
                                    <!--배송변경목록 연결할 때까지 기본값 출력-->
                                    <br />
                                    <label for="orderAddress">주소</label>
                                    <br />
                                    <input type="text" class="orderAddress my-1" id="orderAddress" name="orderAddress" size="35" readonly />
                                    <br />
                                    <input type="text" class="orderAddress-2" id="orderAddress-2" name="orderAddress-2" size="25" placeholder="상세 주소 (동/호/층)" />
                                </div>
                                <div class="btn-section align-self-end" style="width: 20vw">
                                    <button type="button" class="btn btn-secondary address-change m-1" style="min-width: 80px">배송지 변경</button>
                                </div>
                            </div>
                        </div>
                        <div class="orderForm-request mb-3">
                            <h6 class="heading">가게 요청 사항</h6>
                            <div class="orderForm-request-box border rounded p-3 d-flex">
                                <textarea name="orderRequest" id="orderRequest" style="width: 100vw" placeholder="필수 항목이 아닙니다."></textarea>
                            </div>
                        </div>
                        <div class="orderForm-riderRequest mb-3">
                            <h6 class="heading">배달 요청 사항</h6>
                            <div class="orderForm-riderRequest-box border rounded p-3 d-flex">
                                <textarea name="riderRequest" id="riderRequest" style="width: 100vw" placeholder="필수 항목이 아닙니다."></textarea>
                            </div>
                        </div>
                        <div class="priceBox">
                            <div class="deliveryFee-box d-flex justify-content-between border-bottom border-2 mb-3">
                                <h6 class="heading">배송비</h6>
                                <div class="pe-2">
                                    <span class="deliveryFee" id="deliveryFee" th:text="${orderForm.deliveryFee}"></span>
                                    <span>원</span>
                                    <input type="hidden" name="deliveryFee" th:value="${orderForm.deliveryFee}" />
                                </div>
                            </div>
                            <div class="orderPrice-box d-flex justify-content-between">
                                <h5 class="heading">결제 금액</h5>
                                <div class="orderPrice-btn d-flex flex-row">
                                    <h4 class="orderPrice" id="orderPrice" name="orderPrice"></h4>
                                    <h4>원</h4>
                                    <input type="hidden" name="orderPrice" class="orderPrice" />
                                </div>
                            </div>
                            <div class="d-flex">
                                <button type="button" class="order btn btn-primary m-3 fw-bold" id="order" style="width: 50vw">결제</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--레이아웃의 script 부분에 아래 내용이 출력됨-->
        <script th:src="@{/js/order/orderForm.js}" layout:fragment="script"></script>
    </body>
</html>
