<!-- <button class="btn btn-primary m-2" data-bs-toggle="collapse" data-bs-target="#sidebarWrapper">
                x
            </button>    접기 버튼 시도...-->
<!-- calc(100vh - 110px) -->
<!--사이드바 fragment-->
<div id="sidebarWrapper" class="collapse show">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar collapse" style="position: fixed; top: 9vh; height: 91vh; overflow-y: auto; padding-left: 10px; padding-bottom: 30px; min-width: 200px">
        <div class="position-sticky pt-2" style="top: 0">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <!--사이드바의 대분류 메뉴 항목 href=#접었다폈다하는 하위 항목메뉴들-->
                    <a class="nav-link" data-bs-toggle="collapse" href="#menuSettlement" role="button" aria-expanded="true" aria-controls="menuSettlement">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                            <line x1="18" y1="20" x2="18" y2="10"></line>
                            <line x1="12" y1="20" x2="12" y2="4"></line>
                            <line x1="6" y1="20" x2="6" y2="14"></line>
                        </svg>
                        정산
                    </a>
                    <div class="collapse" id="menuSettlement">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                            <li><a th:href="@{/admin/settlement/settlement-list}" class="nav-link">정산 내역</a></li>
                            <li><a th:href="@{/admin/settlement/feeHistory-list}" class="nav-link">수수료 변경</a></li>
                            <li><a th:href="@{/admin/settlement/distanceFeeHistory-list}" class="nav-link">배송비 변경</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#menuUser" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="menuUser">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" aria-hidden="true">
                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                            <circle cx="9" cy="7" r="4"></circle>
                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                        </svg>
                        회원
                    </a>
                    <div class="collapse" id="menuUser">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                            <li>
                                <a class="nav-link" href="#menuShopList" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="menuShopList">입/폐점 관리</a>
                            </li>
                            <div class="collapse" id="menuShopList">
                                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 ms-4">
                                    <li><a th:href="@{/admin/user/shopApproval-list}" class="nav-link">입점 신청</a></li>
                                    <li><a th:href="@{/admin/user/shopClose-list}" class="nav-link">폐점 신청</a></li>
                                </ul>
                            </div>
                            <li><a th:href="@{/admin/user/riderApproval-list}" class="nav-link">라이더 승인</a></li>
                            <li><a th:href="@{/admin/user/admin-list}" class="nav-link">관리자 계정 추가</a></li>
                            <li><a th:href="@{/admin/user/user-list}" class="nav-link">회원 조회</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#menuInquiry" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="menuInquiry">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true">
                            <path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path>
                            <polyline points="13 2 13 9 20 9"></polyline>
                        </svg>
                        문의
                    </a>
                    <div class="collapse" id="menuInquiry">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                            <li><a th:href="@{/admin/inquiry/inquiry-list}" class="nav-link">일반 문의</a></li>
                            <li><a th:href="@{/admin/inquiry/banInquiry-list}" class="nav-link">신고 문의</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#menuHomePage" data-bs-toggle="collapse" role="button" aria-expanded="true" aria-controls="menuHomePage">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true">
                            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                            <polyline points="9 22 9 12 15 12 15 22"></polyline>
                        </svg>
                        홈페이지 관리
                    </a>
                    <div class="collapse" id="menuHomePage">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-4">
                            <li><a th:href="@{/admin/homePage/notice-list}" class="nav-link">공지사항</a></li>
                            <li><a th:href="@{/admin/homePage/category-list}" class="nav-link">카테고리</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
