<div class="getLocation box">
    <div class="d-flex align-items-center">
        <i class="bi bi-geo-alt user_location fs-1 fw-bold me-2" title="내 위치 저장"></i>
        <div class="selectLocation me-2">
            <input type="text" class="address getLocation" />
        </div>
        <button class="">검색</button>
    </div>

    <script th:src="@{/js/main/location.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        //페이지 로드 후 세션 스토리지에 위치 정보가 저장되어있다면
        $(document).ready(function () {
            if (sessionStorage.getItem('location') != null) {
                //세션스토리지에 값이 있다
                const location = JSON.parse(sessionStorage.getItem('location'));
                console.log('저장된 주소' + location);
                //location가져와서 input에 입력 후 검색시키기
                getShopList(location);
                //위치 정보 사용중 표시
                $('.user_location').removeClass('bi-geo-alt').addClass('bi-geo-alt-fill');
            } else {
                //세션스토리지에 값이 없음
                console.log('저장된 위치정보 없음');
                //기본위치 설정
                getShopList('서울 관악구 남부순환로 1820 에그엘로우 6층 6B');
                showToast('위치를 설정해주세요.', 'info');
            }
        });

        //위치 기반으로 상점(상품) 검색하기
        function getShopList(location) {
            //주소input에 주소 입력
            $('.address').val(location);
            //서버에 location값 전달
        }

        //사용자의 위치를 페이지에 반영 () (async, await 처리)
        $('.user_location').on('click', function () {
            showConfirmAlert(
                '현재 위치를 저장하겠습니까?',
                async () => {
                    //예
                    try {
                        //위치좌표 가져와서 주소로 변환
                        const { lat, lng } = await getUserPosition();
                        let { addr } = await getAddress(lat, lng);
                        //해당 주소를 세션에 저장
                        sessionStorage.setItem('location', JSON.stringify({ addr }));
                        //위치 반영
                        $('.user_location').removeClass('bi-geo-alt').addClass('bi-geo-alt-fill');
                        getShopList(addr);
                        showToast('위치 정보가 반영되었습니다', 'success');
                        // } else{
                        //조회되는 상점이 없을 때
                        //     showToast('사용자의 위치에서 조회되는 상품이 없습니다.', 'error');
                        //     sidoSigunguList('서울', '관악구');
                        //     $('.user_location').removeClass('bi-geo-alt-fill').addClass('bi-geo-alt');
                        // }
                    } catch (error) {
                        console.log(error);
                        showToast('위치 정보를 사용할 수 없어 기본값으로 지정됩니다.', 'error');
                        getShopList('서울 관악구 남부순환로 1820 에그엘로우 6층 6B');
                    }
                },
                () => {
                    /*아니오*/
                }
            );
        });

        //위치 정보 초기화 (+ 세션 스토리지에 저장된 위치정보 삭제
        $('.deleteLocation').on('click', function () {
            showConfirmAlert(
                '위치 정보를 초기화 합니다.', // 표시할 메시지
                () => {
                    // 사용자가 '예'를 눌렀을 때 실행
                    sessionStorage.removeItem('location');
                    //기본값으로 변경(관악구)
                    sidoSigunguList('서울', '관악구');
                    console.log('위치 정보 삭제&선택창 초기화');
                    //위치 정보 삭제 표시
                    $('.user_location').removeClass('bi-geo-alt-fill').addClass('bi-geo-alt');
                },
                () => {
                    /*아니오*/
                }
            );
        });
    </script>
</div>
