<!--
******************************************
*  Created On : 2025. 11. 17.
*  File : main-layout.html
*******************************************
 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/comm/sweetalert.noah.js}"></script>
        <!--csrf토근 헤더 추가-->
        <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}" />
        <!-- BootStrap CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
        <!--카카오맵 API & 라이브러리 SDK-->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b4fd57268b42b0698df77c27d1c4e78c&libraries=services"></script>
        <!-- Daum 주소 API -->
        <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <!--웹소켓 알림 js-->
        <!--SockJS 라이브러리 로드-->
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
        <!--STOMP 프로토콜 클라이언트 라이브러리 로드-->
        <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
        <script th:src="@{/js/comm/alert.js}"></script>
        <!--자식페이지에서 추가로 삽입될 head내용-->
        <th:block layout:fragment="head-link"></th:block>
        <style>
            .linkDefault {
                text-decoration: none;
                cursor: pointer;
            }
            .content-wrapper {
                display: inline-block;
            }
        </style>
        <title>모두의 빵</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <!--헤더-->
        <div th:replace="~{/main/main-header}"></div>

        <!--본문-->
        <main class="flex-grow-1 py-4 d-flex justify-content-center">
            <div layout:fragment="content" class="content-wrapper d-flex flex-column"></div>
        </main>

        <!--사용자편의버튼-->
        <table class="user-btn wrapper position-fixed bottom-0 end-0 m-3 text-center" style="border-radius: 10px; border: 1px solid cornflowerblue; background-color: rgb(218, 218, 218)">
            <tr class="goCart-btn" style="display: none">
                <!--주문표-->
                <td id="goCart-btn"></td>
            </tr>
            <tr>
                <!--고객센터-->
                <td>
                    <a th:href="@{/customerCenter}" class="linkDefault p-2">고객센터</a>
                </td>
            </tr>
            <!--위로가기-->
            <!-- <tr>
                <td>
                    <div id="up-btn">
                        <a href="#top" class="linkDefault p-2">↑</a>
                    </div>
                    <script>
                        $(window).on('scroll', function () {
                            //화면이 스크롤되면
                            if ($(this).scrollTop() > 100) {
                                //화면이 스크롤된 정도가 100을 넘을 때
                                $('#up-btn').removeClass('d-none'); //"d-none" 클래스 삭제(버튼 보이게)
                            } else {
                                //스크롤이 맨 위일때
                                $('#up-btn').addClass('d-none'); //"d-none" 클래스 추가(버튼 안보이게)
                            }
                        });
                    </script>
                </td>
            </tr> -->
        </table>

        <!--푸터-->
        <footer class="mt-auto py-3 bg-light text-center">
            <p>ⓒ 2025 모두의 빵</p>
        </footer>

        <!--layout script-->
        <script type="text/javascript">
            //ajax사용시 csrf헤더 생성
            $(function () {
                const token = $('meta[name="_csrf"]').attr('content');
                const header = $('meta[name="_csrf_header"]').attr('content');
                $(document).ajaxSend(function (e, xhr) {
                    if (token && header) xhr.setRequestHeader(header, token);
                });
                //sessionStorage에 장바구니가 있는지 상점no 확인
                const shopNo = sessionStorage.getItem('shopNo');
                if (shopNo) {
                    //장바구니가 있음
                    $('.goCart-btn').show(); //출력시키기
                    const location = JSON.parse(sessionStorage.getItem('location'));
                    const lat = location.lat;
                    const lng = location.lng;
                    $('#goCart-btn').append(`<a href="/shopList/productList/${shopNo}?lat=${lat}&lng=${lng}" class="linkDefault p-2">주문표</a>`);
                } else {
                }
            });
        </script>
        <!--헤더 script-->
        <script layout:fragment="main-header-script" type="text/javascript"></script>
        <!--자식 script-->
        <script layout:fragment="script" type="text/javascript"></script>
    </body>
</html>
