<!--
******************************************
*  Created On : 2025. 11. 17.
*  File : main-layout.html
*******************************************
 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8" />
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/comm/sweetalert.noah.js}"></script>
        <!--csrf토근 헤더 추가-->
        <meta name="_csrf" th:content="${_csrf.token}" />
        <meta name="_csrf_header" th:content="${_csrf.headerName}" />
        <!-- BootStrap CDN -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
        <!--자식페이지에서 추가로 삽입될 head내용-->
        <th:block layout:fragment="head"></th:block>
        <title>모두의 빵</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <!--헤더-->
        <div th:replace="~{/main/main-header}"></div>
        </header>

        <!--본문-->
        <main class="flex-grow-1 py-4">
            <!--flex~ 본문이 헤더와 푸터 사이의 공간을 채움 footer가 아래에 달라붙어있을 수 잇게 py-4 위쪽 여백-->
            <div class="container-fluid">
                <!--container-fluid의 쓰임은? container-x1이 더 꽉참 fluid가 양쪽에 여백이 있음-->
                <!-- <div class="row"> div안의 요소를 수평으로 나열 -->
                <!--main-layout이 적용된 페이지의 content가 출력됨-->
                <!-- </div> -->
            </div>
        </main>

        <!--푸터-->
        <footer class="mt-auto py-3 bg-light text-center">
            <p>ⓒ 2025 모두의 빵</p>
        </footer>

        <script layout:fragment="script" type="text/javascript"></script>
    </body>
</html>
