<!--
******************************************
*  Created On : 2025. 11. 16.
*  File : main.html
*******************************************
 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main/main-layout}">
    <head>
        <th:block layout:fragment="head-link"></th:block>
    </head>
    <body>
        <!--레이아웃의 content 부분에 아래 내용이 출력됨-->
        <div layout:fragment="content">
            <!--위치 설정 box-->
            <div class="m-3">
                <div th:replace="~{main/getLocation}"></div>
            </div>

            <!--위치에 따른 상점-상품 출력-->
            <div class="product-list"></div>
        </div>

        <!--레이아웃의 script 부분에 아래 내용이 출력됨-->
        <script layout:fragment="script">
            console.log('main fragment 됨');
        </script>
    </body>
</html>
