    <!--헤더 fragment-->
        <header class="bg-body-tertiary position-sticky top-0" style="z-index: 1030">
            <nav class="navbar bg-body-tertiary" style="min-width: 800px">
                <div class="container-fluid d-flex">
                    <!--수직정렬이 기본인 body의 영향을 벗어나기 위한 d-flex-->
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/image/common/everyoneBread_main_logo.png}" width="200" />
                    </a>
                    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> collapse 시 생성되는 햄버거 아이콘 과 id="navbarNavAltMarkup"인 메뉴를 햄버거 안에 담는다는 설정-->
                    <div class="d-flex flex-column">
                        <!--검색창과 카테고리를 수직정렬-->
                        <div class="nav justify-content-center mb-2">
                            <!--검색창-->
                            <form class="d-flex" role="search" method="post" action="@{/search}">
                                <input class="form-control me-2" type="search" aria-label="search" />
                                <button class="btn btn-outline-primary" type="submit">검색</button>
                            </form>
                        </div>
                        <div class="nav nav-pills justify-content-center">
                            <!--카테고리 가운데 정렬-->
                            <a class="nav-link" th:href="@{/shopList?category=bread}" >빵</a>
                            <a class="nav-link" th:href="@{/shopList?category=cake}" >케이크</a>
                            <a class="nav-link" th:href="@{/shopList?category=dessert}">디저트</a>
                            <a class="nav-link" th:href="@{/shopList?category=cafe}">카페</a>
                        </div>
                    </div>
                    <div class="navbar-util d-flex flex-column">

                        <!-- 비로그인 : 로그인/회원가입만 보임 -->
                        <div class="login-util mb-2">
                            <a class="util-login" th:href="@{/member/login}" sec:authorize="isAnonymous()">로그인/회원가입</a>
                        </div>
                        
                        <!-- 로그인 : 로그아웃만 보임 -->
                        <div sec:authorize="isAuthenticated()" class="login-util mb-2 ">
                            <!--메인 로그아웃 url은 get요청-->
                                <a th:href="@{/member/logout}" class="util-logout">로그아웃</a>
                        </div>
                         <!-- 로그인 : 마이페이지 + 알림함 -->
                        <div class="user-util" sec:authorize="isAuthenticated()">
                            <button class="btn btn-secondary util-alert pb-2" id="alert">알림함</button>
                            <button class="btn btn-secondary util-alert pb-2" th:onclick="|location.href='@{/member/myPage}'|">마이페이지</button>
                        </div>
                    </div>
                </div>
            </nav>