<div class="list-header d-flex justify-content-between mb-3 pb-2 border-bottom border-3">
    <h3>1:1 문의</h3>
    <button type="button" class="btn btn-secondary writeInquiry">문의하기</button>
</div>

<!--모달 출력 시 뒷배경-->
<div class="dimmed" aria-hidden="true" id="dimmed" style="display: none"></div>
<!--문의 작성 모달-->
<div class="modal-layer" id="modal-writeForm" style="display: none">
    <div class="modal">
        <div class="modal-top justyfy-content-between">
            <!--모달 제목-->
            <div id="modal-title">관리자에 문의하기</div>
            <!--닫기버튼-->
            <div class="closeBtn">&times;</div>
        </div>
        <!--내용 입력-->
        <div class="modal-content">
            <div class="d-flex flex-column gap-2">
                <div>내용을 작성해주세요.</div>
                <textarea name="question" id="question" style="resize: none"></textarea>
                <button type="button" class="btn btn-primary insertInquiry" th:data-memberno="${#authentication.principal.member.memberNo}">문의하기</button>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    //문의 작성 모달 열기
    $('.writeInquiry').on('click', function () {
        //배경, 모달 보이기
        $('#dimmed, #modal-writeForm').show();
    });

    //문의하기 버튼 클릭 시
    $('.insertInquiry').on('click', function () {
        const memberNo = $(this).data('memberno');
        const question = $('#question').val();
        showConfirmAlert(
            '관리자에게 문의가 작성됩니다.',
            //예
            () => {
                $.ajax({
                    url: '/customerCenter/insertInquiry',
                    type: 'POST',
                    data: { memberNo: memberNo, question: question },
                    success: function (success) {
                        if (success == true) {
                            closeModal();
                            showToast('문의가 작성되었습니다.', 'success');
                        } else {
                            showToast('다시 시도해주세요.', 'error');
                        }
                    },
                    error: function (error) {
                        showToast('다시 시도해주세요.', 'error');
                    },
                });
            },
            //아니오
            () => {
                showToast('작성이 취소되었습니다.', 'warning');
            }
        );
    });

    //모달 - 닫기 버튼, dimmed 클릭
    $('.closeBtn, #dimmed').on('click', function () {
        closeModal();
    });

    function closeModal() {
        //기존값 초기화
        $('#question').empty();
        //배경, 모달 숨김
        $('#dimmed, #modal-writeForm').hide();
    }
</script>
