<!--
******************************************
*  Created On : 2025. 11. 16.
*  File : admin-main.html
*******************************************
 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{admin/common/admin-layout}">
    <head>
        <th:block layout:fragment="head">
            <!--css link태그 등 자식 페이지에서 head에 담겨야 할 태그-->
        </th:block>
    </head>

    <body >
    <!--레이아웃의 content 부분에 아래 내용이 출력됨-->
    <div layout:fragment="content">
        admin 메인 통계 자료 통계 자료
    </div>

    <!--레이아웃의 script 부분에 아래 내용이 출력됨-->
    <script layout:fragment="script">
        console.log("main fragment 됨");
    </script>
    </body>
</html>
