<section class="main-header" th:fragment="main-header">
    <!-- 헤더 -->
    <div class="header-top">
        <div class="top-left">
            <span>
                보유 포인트 :
                <span>10,000 원</span>
            </span>
        </div>
        <div class="top-right d-flex gap-2 align-items-start">
            <p th:text="|${#authentication.principal.member.memberId}님|"></p>
            <button sec:authorize="isAuthenticated()" id="logoutBtn" type="button">로그아웃</button>
        </div>
    </div>
    <div class="header-bottom">
        <nav class="navbar">
            <ul class="nav nav-tabs gap-1">
                <li class="nav-item">
                    <a href="/rider/" class="nav-link" aria-current="page">전체</a>
                </li>
                <li class="nav-item">
                    <a href="/rider/order/request" class="nav-link">대기</a>
                </li>
                <li class="nav-item">
                    <a href="/rider/order/myOrder" class="nav-link">내주문</a>
                </li>
                <li class="nav-item">
                    <a href="/rider/myInfo" class="nav-link">내정보</a>
                </li>
            </ul>
        </nav>
    </div>
</section>
