<!-- dimmed -->
<div class="dimmed" style="display:none;"></div>

<!-- modal -->
<div class="modal-layer" style="display:none;">
    <div class="modal-container">

        <!-- 상단 -->
        <div class="modal-top">
            <h3 id="modal-title">주문 상세보기</h3>
            <span class="closeBtn">&times;</span>
        </div>

        <!-- 내용 -->
        <div class="modal-contents">

            <div class="modal-section">
                <strong>주문번호</strong>
                <div id="modal-orderNo"></div>
            </div>

            <div class="modal-section">
                <strong>주문 정보</strong>
                <div id="modal-items"></div>
                <div>배송비 : <span id="modal-deliveryFee"></span>원</div>
                <div>총 주문 금액 :<strong><span id="modal-totalPrice"></span>원</strong>
                </div>
            </div>

            <div class="modal-section">
                <strong>배송 정보</strong>
                <div id="modal-address"></div>
            </div>

            <div class="modal-section">
                <strong>라이더 위치</strong>
                <div id="modal-rider">아직 라이더가 배정되지 않았습니다.</div>
            </div>

        </div>

        <!-- 하단 -->
        <div class="modal-footer">
            <button id="modalCancelBtn" class="order-btn cancelOrderBtn" style="display:none;">주문 취소</button>
        </div>
    </div>
</div>