<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shop/mypage/shop-mypage-layout}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- SweetAlert 공통 래퍼 -->
    <script th:src="@{/js/comm/sweetalert.noah.js}"></script>
    <!-- Kakao Postcode API -->
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <!-- 개인정보 CSS -->
    <link rel="stylesheet" th:href="@{/css/shop/mypage/info.css}">
    <title>개인정보</title>
</head>

<body>
<section layout:fragment="content">

    <div class="page-title">개인정보</div>

    <!-- 탭 -->
    <div class="tab-buttons">
        <button>정보 변경</button>
        <button>비밀번호 변경</button>
    </div>

    <!-- 정보 변경 -->
    <div>
        <div class="info-row">
            <label>아이디</label>
            <input type="text" value="회원 아이디 띄워줌" readonly>
        </div>

        <div class="info-row">
            <label>이름</label>
            <input type="text" value="회원 이름 띄워줌">
            <button>변경</button>
        </div>

        <div class="info-row">
            <label>휴대폰 번호</label>
            <input type="text" value="회원 휴대폰 번호 띄워줌">
            <button>변경</button>
        </div>

        <div class="info-row">
            <label>이메일</label>
            <input type="text" value="회원 이메일 띄워줌">
            <button>변경</button>
        </div>

        <div class="info-row">
            <label>생일</label>
            <input type="text" value="회원 생일 띄워줌" readonly>
        </div>
    </div>

    <button class="confirm-btn">확인</button>

    <button class="withdraw">회원탈퇴</button>

</section>
</body>
</html>