<!--
******************************************
*  File : shop-layout.html
*  Desc : 판매자 페이지 공통 레이아웃
*******************************************
-->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8" />

        <!-- jQuery / SweetAlert -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script th:src="@{/js/comm/sweetalert.noah.js}"></script>

        <!--웹소켓 알림 js-->
        <!--SockJS 라이브러리 로드-->
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
        <!--STOMP 프로토콜 클라이언트 라이브러리 로드-->
        <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
        <script th:src="@{/js/shop/alert.js}"></script>

        <!-- 판매자 공통 CSS (파일 만들면 활성화) -->
        <!-- <link rel="stylesheet" th:href="@{/css/shop/shop-common.css}"> -->

        <title>모두의 빵 - 판매자</title>
    </head>

    <body>
        <!-- 판매자 공통 헤더 -->
        <div th:insert="shop/common/shop-header :: shop-header"></div>

        <!-- 개별 페이지에서 채우는 영역 -->
        <div layout:fragment="content"></div>

        <!-- 판매자 공통 푸터 -->
        <div th:insert="shop/common/shop-footer :: shop-footer"></div>
    </body>
</html>
