input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    opacity: 1;
}
.cart-deleteBtn {
    cursor: pointer;
}
.btn-primary {
    --bs-btn-color: cornflowerblue;
    --bs-btn-bg: #fff;
    --bs-btn-border-color: cornflowerblue;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: cornflowerblue;
}
.heading {
    font-weight: bold;
    color: rgb(49, 49, 49);
}
